*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;

}
#top{
	width: 1200px;
	height: 90px;
	margin: 0 auto;
	position: relative;
}
.logo img{
	float: left;
	display: block;
}
.mainnav{
	width:502px;	
	float: right;
}
.mainnav li{	
	float: left;	
	padding: 20px 15px;
	height: 50px;
}
.mainnav li a{
	font-family: "微软雅黑";
	font-size: 14px;
    margin-top: 40px;
	display: block;
	color: #323232;

}

.mainnav li:hover{	
	background-color: #015198;}
.mainnav li a:hover{	
	color: white;
	font-weight:bold;
	}

#banner{
	width: 1920px;
	height: 363px;	
	position: relative;
	margin: 0 auto;
}
#banner .tupian{
	width: 1920px;
	height: 363px;	


}
#banner img{
	display: block;
	margin: 0 auto;
	float: left;
}

#subnav{
	width:1920px;
	height: 54px;
	margin: 0 auto;
    background: url(../images/aboutimg/qq.png) no-repeat top;
    background-color: #F8F8F8;
}

#subnav .s{
	width: 560px;
	height: 54px;
	margin: 0 auto;
}
#subnav .s1{
	width: 140px;
	height: 54px;
	float: left;
	position: relative;
    background: url(../images/aboutimg/zkuai.png) no-repeat top; 
}
/*#subnav .s1 img{
	position: absolute;
}*/
#subnav .s1 p{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #797979;
	line-height: 44px;
    text-align: center;	
}
#subnav .s1 a{
color: #797979;	
}


#subnav .s1:hover{
background: url(../images/aboutimg/subnav_item.png) no-repeat top; 
}
#subnav .s1 a:hover{
color: white;
}

#shop{
	width: 1920px;
	margin: 0 auto;
	position: relative;
}

#shop .cpzl{
	position: relative;
	width: 1920px;
	height: 465px;
	margin: 0 auto;
	background-color: #F8F8F8;
	
}
#shop .cpzl .zlbt{
	width: 1920px;
	height:60px;
	margin: 0 auto;
	border-bottom: 2PX solid white;	
}

#shop .cpzl .zlbt p{
	 width: 1200px;
	 height:60px;
	 margin: 0 auto;
	 font-family: "微软雅黑";
	 font-size: 18px;
	 line-height: 60px;
	 text-align: left;
	 color: #6D6E6C;	
}
#shop .cpzl .zlbt a{	
	 color: #6D6E6C;	
}
#shop .cpzl .zlz{
	width: 1200px;
	height: 317px;
	margin: 44px auto;
}
#shop .cpzl .zlz .zt{
	float: left;
}
#shop .cpzl .zlz .yz{
	width: 554px;
    height: 317px;
	float: right;


	}

#shop .cpzl .zlz .yz .pbt{
	font-family: "微软雅黑";
	font-size: 24px;
	text-align: center;
	color: #4c4c4c; 
	line-height: 60px;
	padding-top: 44px;
	
}
#shop .cpzl .zlz .yz .pzw{
	width: 434px;
	margin: 0 auto;
	font-family: "微软雅黑";
	font-size: 14px;
	text-align: left;
	color: #4c4c4c;
	line-height: 24px; 
} 
#shop .cptx{
	position: relative;
	width: 1920px;
	height: 465px;
	margin: 0 auto;
	
}

#shop .cptx .txbt{
	width: 1920px;
	height:60px;
	margin: 0 auto;
	background-color: #CCCCCC;
	
}
#shop .cptx .txbt .txcs{
	 width: 1200px;
	 height:60px;
	 margin: 0 auto;
}


#shop .cptx .txbt .txcs p{
	 width: 120px;
	 height:60px;
	 float: left;
	 font-family: "微软雅黑";
	 font-size: 18px;
	 line-height: 60px;
	 text-align: center;
	 color: #6D6E6C;	
	
}
#shop .cptx .txbt .txcs .tx{
	 background-color: #FFFFFF;
}

#shop .cptx .txwz{
	 width: 1200px;
	 height:60px;
	 margin: 0 auto;
	 font-family: "微软雅黑";
	 font-size: 14px;
	 line-height: 20px;
	 text-align: left;
	 color: #4c4c4c;	

}
#shop .cptx .txbt .txcs a{
	 
	 color: #6D6E6C;
}


#shop .cptx .txwz .wzbt{
	 margin-top: 20px;
	 font-weight: bold;
	 line-height: 32px;
}





#bottom{
	position: relative;
	width :1920px;
	height: 328px;
	margin: 0 auto;
	background-color: #676767;
}
.yewei1{
	position: relative;
	width :1200px;
	height: 278px;
	margin: 0 auto;
}
.guanyu{
    float: left;
	padding: 40px 90px;
}
.guanyu .zi1 a{
	 display: block;
	 font-family: "微软雅黑";
	 font-size:14px;
	 line-height: 60px;
	 color: white;
}
.guanyu .zi2 a{	
	display: block;	 
	 font-family: "微软雅黑";
	 font-size:12px;
	 line-height: 24px;
	 color: white;
}
.yewei2{

	 width :1920px;
     height: 50px;
     margin: 0 auto;
	 font-family: "微软雅黑";
	 font-size:16px;
	 line-height: 50px;
	 text-align: center;
	 color: white;
	 background-color: #2e2e2e;
}
